$color-blue-light: #3199dc;
$color-gray-dark: #2a3e51;
$color-white: white;
$value-low-space: 30px;
$value-med-space: 60px;
$value-hi-space: 100px;
$font-default: Arial, Helvetica, sans-serif;
$font-size-xsmall: 10px;
$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-large: 24px;
$font-site-xlarge: 32px;
$min-mobile: 320px;
$max-mobile: 450px;
$min-tablet: 451px;
$max-tablet: 1140px;
